<div layout="column" class="app-wrapper">

    <md-toolbar layout="row" layout-align="space-between center" class="md-toolbar-tools custom-toolbar">
        <div class="logo-container">
          <img class="logo-img" src="../../../../assets/angularjs_logo.png" alt="Loading logo...">
        </div>
        <div class="default-text title-text">Title</div>
        <div class="default-text user-info">Jack McLeen</div>
    </md-toolbar>

    <md-content class="full-height-container content"> 
      <div class="full-height-container" ui-view></div>
    </md-content>

    <md-toolbar layout-align="center center" layout="row" class="md-toolbar-tools custom-toolbar">
      <span class="default-text copyright">AngularJS, Webpack, Typescript, Angular Material seed</span>
    </md-toolbar>
  </div>